<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href='{{ get_url(path="reset.css") }}'>
      <link rel="stylesheet" type="text/css" href='{{ get_url(path="main.css") }}'>
      
      <!-- JS -->
      <script src='{{ get_url(path="main.js") }}'> </script>
      
    </head>

    <body>
    
    	{% block header %}
    		<header>
    			{{ config.title }}
    		</header>
    	{% endblock header %}
    	   
    	<div class='container'>
			{% block content %}
				<h2>
					{{ config.extra.brute_posts_title }} 
				</h2>
				
				{% for page in section.pages %}
                    <div class='article-container'>
                        <a href={{page.permalink}}>
                            <article> 
                                <div class='thumb' style='background-image: url({{get_url(path=page.extra.brute_picture)}})'>
                                </div>
                                <p>
                                    {{ page.title }}
                                </p>
                            </article>
                        </a>
                    </div>
				{% endfor %}
			{% endblock content %}
		</div>	
    </body>

</html>